@model IEnumerable<ContactModel>

@{
    ViewData["title"] = "Contact List";
}
<h4>List Contact</h4>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Map</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th>Manage</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@Html.Raw(@item.Map)</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@Html.Raw(@item.Description)</td>
                
                <td>
                    <img src="~/media/contacts/@item.LogoImage" alt="@item.Name" style="max-width: 100px; height: auto;" />
                </td>
                
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Contact" asp-route-id="@item.Id">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        let table = new DataTable('#mytable');
    </script>
}