@model IEnumerable<CategoryModel>

@{
    ViewData["title"] = "Category List";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if(ViewBag.Pager != null){
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<h4>List Product</h4>
<a class="btn btn-success" asp-area="Admin" asp-action="Create" asp-controller="Category">Add new Category</a>
<table class="table" id="mytable">
    <thead>
        <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Category Slug</th>
            <th scope="col">Category Description</th>
            <th scope="col">Category Status</th>
            <th>Manage</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Slug</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>
                    @if(item.Status == 1)
                    {
                        <span class="text text-success">Displayed</span>
                    }
                    else{
                        <span class="text text-danger">Hidden</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </a>
                    <a class="btn btn-danger confirmDeletion" asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id">
                        <i class="bi bi-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_paging" model="@pager"/>

    